@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .custom-swiper-pagination .swiper-pagination-bullet {
    background: #ef4b6c40 !important; /* inactive bullet */
    opacity: 1 !important;
    width: 10px;
    height: 10px;
  }

  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background: #EF4B6C !important; /* active bullet */
    width: 14px;
    height: 14px;
  }
}
