@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-public-sans), sans-serif;
}

@layer base {
  .custom-swiper-pagination .swiper-pagination-bullet {
    background: #ef4b6c40 !important; /* inactive bullet */
    opacity: 1 !important;
    width: 10px;
    height: 10px;
  }

  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background: #EF4B6C !important; /* active bullet */
    width: 14px;
    height: 14px;
  }
}


/* custom black dropdown arrow */
.select-black-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 20 20'%3E%3Cpath d='M5.25 7.5L10 12.25 14.75 7.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px;
}
